@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;800&display=swap');

:root {
    --raisinBlack: #272838;
    --flax: #F3DE8A;
    --coralPink: #EB9486;
    --coolGray: #7E7F9A;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    /* overflow-x: hidden; */
}

/* possibly redundant */
#header-title {
    font-size: 15pt;
}

.navbar {
    background-color: var(--coralPink);
}

#nav-link-active, .nav-link {
    color: var(--raisinBlack);
}

#about {
    font-size: 15pt;
    background-color: var(--flax);
}

h1 {
    /* font-size: 50pt; */
    font-weight: 800 !important;

    /* @media only screen and (max-width: 768px) { */
        /* font-size: 50pt; */
    /* } */
}

h2 {
    font-weight: 800 !important;
    color: var(--raisinBlack);
    /* text-shadow: 3px 2px var(--raisinBlack); */
}

h3 {
    font-weight: 800 !important;
    color: var(--raisinBlack);
    /* text-shadow: 3px 2px var(--raisinBlack); */
}

header {
    background-color: var(--coolGray);
    width: 100%;
}

#hero {
    background-color: var(--coralPink);

    @media only screen and (max-width: 768px) {
        height: 50vh;
    }
}

#boxes {
    background-color: var(--raisinBlack);
}

#modal-onboarding {
    background-color: var(--coralPink);
}

img {
    height: 300px;
    width: 200px; 
}

/* #hero-icons {
    @media only screen and (max-width: 768px) {
        font-size: 20px !important;
    }
} */